.beveled {
    margin: 0;
    border: 0;
    padding: 0;
}

.main-div{
    height: 500px;
    width: 320px;
}

.img-logo {
    margin-top: 19px;
    margin-left: 10px;
}

.play-btn {
    background: url("../images/btnPlayPlayer.png");
    border: none;
    margin-left: 38px;
    margin-top: 15px;
    height: 53px;
    width: 52px;
}

.jp-state-playing .play-btn {
    background: url("../images/btnStopPlayer.png");
}

.jp-state-playing.jp-state-seeking .play-btn {
    background: url("../images/btnLoadingPlayer.png");
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

button:focus {outline:0;}

.volume-btn {
    background: url("../images/btnVolumenPlayer.png");
    cursor:pointer;
    border: none;
    margin-top: 15px;
    margin-left: 17px;
    height: 52px;
    width: 44px;
}

.jp-state-muted .volume-btn{
    background: url("../images/btnMutePlayer.png");
}

.progressSize {
    height: 15px;
    margin: 10px 9px 10px 9px;
}

.progressGray {
    background-color: gray;
}

.informationDiv {
    background-color: darkgray;
    height: 396px;
    padding-top: 10px;

    transition: height 2s;
}

.informationBox {
    margin-left: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 300px;
}

.programImageDiv {
    padding: 0;
    background-color: white;
    width: 300px;
    height: 300px;

    transition: height 2s;
}

.programContentDiv {
    padding: 0;
    background-color: white;
    height: 70px;
    width: 300px;
}

.onAirDiv {
    border-radius: 10px;
    margin-left: -7px;
    margin-top: 20px;
    background-color: red;
    color: white;
    height: 27px;
    width: 80px;
}

.onAirDiv img {
    margin: 5px;
}

.onAirText{
    padding-top: 4px;
    padding-left:10px;
}

.onAirName {
    margin-top: 20px;
    margin-left: -10px;
    font-size: 18px;
    font-weight: bold;
}

.song-info-panel {
    padding: 0;
    position: relative;
    height: 0;

    transition: height 2s;
}

.song-picture-wrapper {
    position: absolute;
    height: 0;

    transition: height 2s;
}

#song-picture {
    opacity: 0;

    transition: opacity 2s;
}

.song-info-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #FFF;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;

    transition: opacity 3.5s ease-in-out;
    padding: 5px;
}

.song-info-text p {
    margin: 0;
}

#song-name {
    font-style: italic;
}

#song-artist {
    font-weight: bold;
}

#program-image {
    margin-top: 0;

    transition: margin-top 2s;
}
