<!DOCTYPE html>

<html>
    <head>
        <title>Seneca Streaming</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("dist/css/bootstrap.min.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/beveled.css")">
    </head>
    <body>
        <div class="row beveled">
            <div id="jquery_jplayer_1" class="jp-jplayer"></div>
            <div class="col-xs-12 beveled">
                <div id="jp_container_1" class="jp-audio-stream" role="application" aria-label="media player">
                    <div class="jp-no-solution">
                        <div class="alert alert-danger" role="alert">
                            <span>Update Required</span>
                            To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>
                            .
                        </div>
                    </div>
                    <div class="jp-type-single">
                        <div class="jp-gui jp-interface">
                            <div class="row beveled">
                                <div class="col-xs-6 beveled">
                                    <img height="42" width="162" class="img-logo" src="@routes.Assets.at("images/logoPlayer.png")">
                                </div>
                                <div class="col-xs-3 beveled">
                                    <div class="jp-controls">
                                        <button class="jp-play play-btn" role="button" tabindex="0"></button>
                                    </div>
                                </div>
                                <div class="col-xs-3 beveled">
                                    <div class="jp-volume-controls">
                                        <button class="jp-mute volume-btn" role="button" tabindex="0"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row beveled">
                                <div class="col-xs-12 beveled">
                                    <div class="progress progressSize">
                                        <div class="progress-bar progressGray" role="progressbar" style="width:70%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row beveled informationDiv">
            <div class="informationBox">
                <div class="row beveled">
                    <div class="col-xs-12 programImageDiv">
                        <img src="http://www.ittrio.com/media/news_img/bbc.jpg" height="300" width="300">
                    </div>
                </div>
                <div class="row beveled">
                    <div class="col-xs-12 programContentDiv">
                        <div class="row beveled">
                            <div class="col-xs-4 beveled">
                                <div class="row onAirDiv">
                                    <div class="col-xs-3 beveled">
                                        <img src="@routes.Assets.at("images/alAire.png")" height="17" width="17">
                                    </div>
                                    <div class="col-xs-9 beveled onAirText">
                                        <p>On Air</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 beveled">
                                <p class="onAirName">Name Program</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="container">
            <div id="jquery_jplayer_1" class="jp-jplayer"></div>
            <div class="col-xs-12">
                <div id="jp_container_1" class="jp-audio-stream" role="application" aria-label="media player">
                    <div class="jp-no-solution">
                        <div class="alert alert-danger" role="alert">
                            <span>Update Required</span>
                            To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>
                            .
                        </div>
                    </div>
                    <div class="jp-type-single">
                        <div class="jp-gui jp-interface">
                            <div class="row" style="margin-top: 20px ;">
                                <div class="col-xs-3"><h3 style="margin-top: 0 ;">Logo</h3></div>
                                <div class="col-xs-offset-4 col-xs-2">
                                    <div class="jp-controls">
                                        <button class="jp-play btn btn-success" role="button" tabindex="0">play</button>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="jp-volume-controls">
                                        <div class="col-xs-6">
                                            <button class="jp-mute" role="button" tabindex="0">X</button>
                                        </div>
                                        <div class="col-xs-6">
                                            <button class="jp-volume-max" role="button" tabindex="0">V</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="song-info-panel">
                <p id="song-name"></p>
                <p id="song-artist"></p>
                <img id="song-picture">
            </div>
        </div>!-->
        <script src="@routes.Assets.at("components/jquery/dist/jquery.min.js")"></script>
        <script src="@routes.Assets.at("dist/js/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("components/jPlayer/dist/jplayer/jquery.jplayer.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/streaming/streaming.js")"></script>
        <script src="@routes.Assets.at("javascripts/streaming/info.js")"></script>
    </body>
</html>