<!DOCTYPE html>

<html>
    <head>
        <title>Proyecto Séneca</title>
        <meta name="description" content="Proyecto Séneca nace con el ánimo de suplir la necesidad de emisión de la Universidad de los Andes, generando contenido entre la comunidad y el país." />

        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("dist/css/bootstrap.min.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/beveled.css")">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="@routes.Assets.versioned("images/favicon/apple-touch-icon-57x57.png")" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@routes.Assets.versioned("images/favicon/apple-touch-icon-114x114.png")" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@routes.Assets.versioned("images/favicon/apple-touch-icon-72x72.png")" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@routes.Assets.versioned("images/favicon/apple-touch-icon-144x144.png")" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="@routes.Assets.versioned("images/favicon/apple-touch-icon-60x60.png")" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="@routes.Assets.versioned("images/favicon/apple-touch-icon-120x120.png")" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="@routes.Assets.versioned("images/favicon/apple-touch-icon-76x76.png")" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="@routes.Assets.versioned("images/favicon/apple-touch-icon-152x152.png")" />
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favicon/favicon-196x196.png")" sizes="196x196" />
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favicon/favicon-96x96.png")" sizes="96x96" />
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favicon/favicon-32x32.png")" sizes="32x32" />
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favicon/favicon-16x16.png")" sizes="16x16" />
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favicon/favicon-128.png")" sizes="128x128" />
        <meta name=“Proyecto Seneca” content="&nbsp;"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="@routes.Assets.versioned("images/favicon/mstile-144x144.png")" />
        <meta name="msapplication-square70x70logo" content="@routes.Assets.versioned("images/favicon/mstile-70x70.png")" />
        <meta name="msapplication-square150x150logo" content="@routes.Assets.versioned("images/favicon/mstile-150x150.png")" />
        <meta name="msapplication-wide310x150logo" content="@routes.Assets.versioned("images/favicon/mstile-310x150.png")" />
        <meta name="msapplication-square310x310logo" content="@routes.Assets.versioned("images/favicon/mstile-310x310.png")" />



    </head>
    <body>
        <div class="main-div">
            <div class="row beveled">
                <div id="jquery_jplayer_1" class="jp-jplayer"></div>
                <div class="col-xs-12 beveled">
                    <div id="jp_container_1" class="jp-audio-stream" role="application" aria-label="media player">
                        <div class="jp-no-solution">
                            <div class="alert alert-danger" role="alert">
                                <span>Update Required</span>
                                To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>
                                .
                            </div>
                        </div>
                        <div class="jp-type-single">
                            <div class="jp-gui jp-interface">
                                <div class="row beveled">
                                    <div class="col-xs-6 beveled">
                                        <img height="42" width="162" class="img-logo" src="@routes.Assets.versioned("images/logoPlayer.png")">
                                    </div>
                                    <div class="col-xs-3 beveled">
                                        <div class="jp-controls">
                                            <button class="jp-play play-btn" role="button" tabindex="0"></button>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 beveled">
                                        <div class="jp-volume-controls">
                                            <button class="jp-mute volume-btn" role="button" tabindex="0"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row beveled">
                                    <div class="col-xs-12 beveled">
                                        <div class="progress progressSize">
                                            <div id="progress-bar" class="progress-bar progressGray" role="progressbar"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row beveled informationDiv">
                <div class="informationBox">
                    <div class="row beveled">
                        <div class="col-xs-12 programImageDiv">
                            <img id="program-image" src="@routes.Assets.versioned("images/baseStreaming.png")" height="300" width="300">
                        </div>
                    </div>
                    <div class="row beveled">
                        <div class="col-xs-12 programContentDiv">
                            <div class="row beveled">
                                <div class="col-xs-4 beveled">
                                    <div class="row onAirDiv">
                                        <div class="col-xs-3 beveled">
                                            <img src="@routes.Assets.versioned("images/alAire.png")" height="17" width="17">
                                        </div>
                                        <div class="col-xs-9 beveled onAirText">
                                            <p id="air-state">Off Air</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 beveled">
                                    <p id="program-name" class="onAirName">Proyecto Séneca</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row beveled">
                        <div class="col-xs-12 song-info-panel">
                            <div class="song-picture-wrapper">
                                <img src="" id="song-picture" height="300" width="300">
                            </div>
                            <div class="song-info-text">
                                <p id="song-name"></p>
                                <p id="song-artist"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="@routes.Assets.versioned("components/jquery/dist/jquery.js")"></script>
        <script src="@routes.Assets.versioned("dist/js/bootstrap.js")"></script>
        <script src="@routes.Assets.versioned("components/jPlayer/dist/jplayer/jquery.jplayer.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/streaming/streaming.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/streaming/info.js")"></script>
    </body>
</html>