<div class="container">
    <div class="col-xs-offset-1 col-xs-10">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1 class="program-title">Programas</h1>
            </div>
            <div ng-repeat="program in programs" class="col-lg-4 col-sm-6 col-xs-12 programs-img-box" ng-click="goToProgram(program)" ng-mouseover="hoverProgram(program.slug)" ng-mouseleave="leaveProgram(program.slug)">
                <div class="programs-img-bg">
                    <img ng-src="{{program.image}}" class="img-responsive programs-img" id="img-{{program.slug}}">
                </div>
                <div class="programs-img-text">
                    <p>{{program.name}}</p>
                </div>
                <div class="programs-img-slogan transparent" id="slogan-{{program.slug}}">
                    <p>{{program.slogan}}</p>
                </div>
            </div>
        </div>
    </div>
</div>