@(title: String)(content: Html)
<!DOCTYPE html>

<html ng-cloak ng-controller="MainCtrl">
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
        <title>{{MetaTitle}}</title>
        <meta name="description" content="{{MetaDescription}}" />

        <meta property="og:url"                content="http://www.proyectoseneca.com" />
        <meta property="og:type"               content="website" />
        <meta property="og:title"              content="Proyecto Seneca" />
        <meta property="og:image"              content="http://www.proyectoseneca.com@routes.Assets.versioned("images/SenecaLogo.png")" />
        <meta proterty="og:description"        content="Proyecto Séneca nace con el ánimo de suplir la necesidad de emisión de la Universidad de los Andes, generando contenido entre la comunidad y el país." />
        <meta property="fb:app_id"             content="1283018718382171">

        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("dist/css/bootstrap.min.css")">
        <meta name="fragment" content="!" />
        <base href="/">

        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="@routes.Assets.versioned("images/favicon/apple-touch-icon-57x57.png")" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@routes.Assets.versioned("images/favicon/apple-touch-icon-114x114.png")" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@routes.Assets.versioned("images/favicon/apple-touch-icon-72x72.png")" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@routes.Assets.versioned("images/favicon/apple-touch-icon-144x144.png")" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="@routes.Assets.versioned("images/favicon/apple-touch-icon-60x60.png")" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="@routes.Assets.versioned("images/favicon/apple-touch-icon-120x120.png")" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="@routes.Assets.versioned("images/favicon/apple-touch-icon-76x76.png")" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="@routes.Assets.versioned("images/favicon/apple-touch-icon-152x152.png")" />
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favicon/favicon-196x196.png")" sizes="196x196" />
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favicon/favicon-96x96.png")" sizes="96x96" />
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favicon/favicon-32x32.png")" sizes="32x32" />
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favicon/favicon-16x16.png")" sizes="16x16" />
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favicon/favicon-128.png")" sizes="128x128" />
        <meta name=“Proyecto Seneca” content="&nbsp;"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="@routes.Assets.versioned("images/favicon/mstile-144x144.png")" />
        <meta name="msapplication-square70x70logo" content="@routes.Assets.versioned("images/favicon/mstile-70x70.png")" />
        <meta name="msapplication-square150x150logo" content="@routes.Assets.versioned("images/favicon/mstile-150x150.png")" />
        <meta name="msapplication-wide310x150logo" content="@routes.Assets.versioned("images/favicon/mstile-310x150.png")" />
        <meta name="msapplication-square310x310logo" content="@routes.Assets.versioned("images/favicon/mstile-310x310.png")" />


    </head>
    <body class="seneca-project">
        <!-- Facebook -->
        <script>
                window.fbAsyncInit = function() {
                    FB.init({
                        appId      : '1283018718382171',
                        xfbml      : true,
                        version    : 'v2.5'
                    });
                };

                (function(d, s, id){
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) {return;}
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/sdk.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
        </script>
        <!-- End Facebook -->
        @content
        <script data-main="@routes.Assets.versioned("javascripts/require-config.js")"
        src="@routes.Assets.versioned("components/requirejs/require.js")"></script>
    </body>
</html>
