@(title: String)(content: Html)
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("dist/css/bootstrap.min.css")">
        <meta name="fragment" content="!" />
        <base href="/">
    </head>
    <body ng-cloak class="seneca-project">
        @content
        <script data-main="@routes.Assets.at("javascripts/require-config.js")"
        src="@routes.Assets.at("components/requirejs/require.js")"></script>
    </body>
</html>
